
.about {
  padding: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-land) {
    padding: 6rem;
  }

  @include respond(tab-port) {
    padding: 4rem;
  }
  @include respond(phone-lg) {
    padding: 2rem;
  }
  @include respond(phone-lg) {
    padding: 0;
  }

  @include respond(phone-sm) {
    padding: 6rem 0;
  }

  &__img {
    padding: 0 4rem;
    width: 24rem;
    height: auto;



    @include respond(tab-land) {
      padding-right: 0;
    }

    img {
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }

  }

  &__text {
    justify-content: center;
    padding: 0;
    padding-right: 4rem;

    @include respond(phone-lg) {
      padding-right: 2rem;
    }

    @include respond(phone-sm) {
      padding-left: 0;
      padding-right: 3rem;
    }


    &--title {
      margin-bottom: 8rem;
      font-size: 5rem;
      font-weight: 700;
      text-decoration: underline;

      @include respond(tab-land) {
        margin-bottom: 6rem;
      }

      @include respond(tab-port) {
        margin-bottom: 2rem;
      }

      @include respond(phone-sm) {
        font-size: 4rem;
      }

    }

    &--about {
      margin-bottom: 4rem;
      font-size: 2.8rem;
      font-weight: 300;
      // line-height: 2.5rem;

      @include respond(tab-land) {
        font-size: 2.5rem;
      }
      @include respond(phone-sm) {
        margin-bottom: 0;
      }

    }
  }

}
