.banner {
  height: 110vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(0,0,0, 0.3),
    rgba(0,0,0, 0.3)),
  url(../../img/header-athens.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  // @include respond(tab-land) {
  //   height: 100vh;
  // }


  @include respond(tab-port) {
    height: 100%;
    width: auto;
  }

}
