.container {
  padding: 5rem;

  @include respond(tab-port) {
    padding: 2rem;
    padding-top: 2rem;
  }

  &__line {
    width: 32rem;

    margin-right: auto;
    margin-left: auto;

    &--1 {
      margin-top: 6rem;
      margin-bottom: 2rem;
      color: rgb(200, 200, 200);
      background-color: rgb(200, 200, 200);
      height: 1px;
      border: none;

      @include respond(tab-port) {
        margin-top: 4rem;
        margin-bottom: 4rem;
      }
    }

    &--2 {
      margin-top: 14rem;
      margin-bottom: 2rem;
      color: rgb(120, 120, 120);
      background-color: rgb(120, 120, 120);
      height: 1px;
      border: none;
      z-index: 10;

      @include respond(tab-port) {
        margin-top: 12rem;
        margin-bottom: 0;
      }

      @include respond(phone-lg) {
        margin-top: 10rem;
      }
    }

    &--3 {
      margin-top: 2rem;
      margin-bottom: 10rem;
      color: rgb(191, 191, 191);
      background-color: rgb(191, 191, 191);
      height: 1px;
      border: none;

      @include respond(tab-port) {
        margin-top: 0;
        margin-bottom: 8rem;
      }

      @include respond(phone-lg) {
        display: none;
      }
    }


  }

}
