.footer {
  background-color: rgb(22, 22, 22);
  padding: 10rem 7rem;

  @include respond(tab-port) {
    padding: 6rem;
  }

  @include respond(phone-sm) {
    margin-top: -4rem;
    padding: 2rem 0;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    @include respond(phone-sm) {
      padding: 0;
    }
  }

  &__logo {
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;

    @include respond(phone-sm) {
      padding-top: 2rem;
    }
  }

  p {
    color: gray;
    font-size: 1.5rem;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    padding: 0 3rem;



    // @include respond(tab-land) {
    //   margin-top: -2rem;
    // }
    // @include respond(tab-port) {
    //   margin-top: -0;
    // }

    @include respond(phone-sm) {
      font-size: 1.2;
      padding-bottom: .4rem;
    }

  }
}


.contact {
  width: 40%;
  padding: 2rem 2rem 4rem 4rem;
  font-weight: 100;

  // @include respond(tab-land) {
  //   padding: 6rem;
  // }

  // @include respond(tab-port) {
  //   padding: 4rem;
  // }
  // @include respond(phone-lg) {
  //   padding-right: 0;
  //   padding-left: 2rem;
  // }
  @include respond(phone-sm) {
    width: 50%;
    padding-right: 0;
  }


  &__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 100;
    color: white;
    font-family: 'Mukta', sans-serif;
  }

  &__info &__info-1 {
    font-family: 'Open Sans Condensed', sans-serif;


    font-size: 1.5rem;
    font-weight: 100;
    color: gray;

    a {
      color: inherit;
      text-decoration: none;
      pointer-events: none;
    }

  }
}

.follow {
  width: 40%;
  padding: 2rem 4rem 4rem 2rem;
  font-weight: 100;
  text-align: right;

  // @include respond(tab-land) {
  //   padding: 6rem;
  // }

  // @include respond(tab-port) {
  //   padding: 4rem;
  // }
  @include respond(phone-sm) {
    width: 50%;
    padding-left: 0;
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 100;
    color: white;
    font-family: 'Mukta', sans-serif;
  }

  &__icons, {
    list-style: none;
    margin: 0;
    padding: 0;

    &--icon {
      display: inline-block;
      align-items: center;
      text-align: right;
      font-size: 2.6rem;
      margin-left: 2rem;
      margin-top: .6rem;

      @include respond(phone-lg) {
        margin-left: 1rem;
      }


      a {
        display: block;
        color: gray;

        &.grow {
          transition: all .2s ease-in-out;

        }

        &:hover {
        color: rgb(180, 180, 180);
        transform: scale(1.1);
        cursor: pointer;

        }
      }
    }

  }
}
