.header {

  color: white;
  font-family: 'Montserrat', sans-serif;

  &__text {
    padding: 16rem 18rem;
    margin: 0 auto;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);


    @include respond(tab) {
      padding: 12rem 14rem;
    }

    @include respond(tab-land) {
      padding: 10rem 12rem;
    }

    @include respond(phone-lg) {
      padding: 8rem;
    }
    @include respond(phone-sm) {
      padding-left: 4rem;
      padding-right: 4rem;
      margin-left:auto;
      margin-right:auto;
      text-align: center;

    }




    &--intro {
      font-size: 3rem;
      font-weight: 200;
      margin-bottom: 2rem;
      text-align: left;

    }

    &--main {
      font-size: 5.5rem;
      font-weight: 400;
      text-align: left;


    }
  }

  &__icons {
    margin-left: 3rem;
    margin-top: 4rem;
    list-style: none;

    @include respond(tab-port) {
      margin-top: 4rem;
    }


    &--icon {
      margin-top: 1rem;
      font-size: 2.8rem;



    @include respond(phone-sm) {
      font-size: 3rem;
    }


      a {
        display: inline-block;
        color: white;

        &.grow {
          transition: all .2s;
        }

        &:hover {
        color: rgb(180, 180, 180);
        transform: scale(1.1);
        cursor: pointer;

        }
      }
    }

  }
}
